ul li a{
    color: white;
    display: block;
    width: 60px;
}
div.footer{
    height:35px;
}
ul.nav1{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

ul.nav1 li {
  float: left;
}

ul.nav1 li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
div.jumbotron.judul{
    padding: 0;
}